* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#hidden {
  display: none;
}

#controls {
  margin: 0 auto;
  width: 500px;
}

#urlInput, #pixelDiv, #filename, button {
  display: block;
  background-color: white;
  width: 500px;
  border: 1px solid #181818;
  padding: 5px 0px 5px 0px;
  margin: 10px 0px 10px 0px;
}

#urlInput, #filename {
  width: 490px;
  padding: 5px;
}

#pixelDiv, #download {
  display: table;
}

#pixelation, #pixelationDisplay {
  display: table-cell;
  vertical-align: middle;
}

#pixelation {
  width: 425px;
  padding: 5px;
  background-color: white;
}

#pixelationDisplay {
  width: 30px;
  margin-left: 10px;
  border: none;
}

/* File input */
.file-input-wrapper {
  width: 200px;
  height: 60px;
  overflow: hidden;
  position: relative;
}
.file-input-wrapper > input[type="file"] {
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.file-input-wrapper > #submitImage {
  display: inline-block;
  width: 200px;
  height: 40px;
}
.file-input-wrapper:hover > #submitImage,
#clear:hover,
#save:hover {
  cursor: pointer;
  background-color: #aaa;
  /* TODO: Prettier color! */
}

#clear {
  width: 250px;
  height: 40px;
  margin-top: -50px;
  margin-left: 250px;
}
